<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Schiffe</h5>
      <p class="card-text">Hier können Sie sich alle Schiffe ansehen</p>
      <a href="#" class="btn btn-primary">Hier klicken</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Routen</h5>
      <p class="card-text">Hier können Sie sich die Routen ansehen</p>
      <a href="#" class="btn btn-primary">Bitte hier klicken</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Güter</h5>
      <p class="card-text">Hier kannst du Güter einsehen und neue erstellen</p>
      <a href="#" class="btn btn-primary">Auf geht's</a>
    </div>
  </div>
