<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Hafen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!--Inhalt der Navbar-->
            <!--Home-->
            <li th:if="${activePage == 'home'}" class="nav-item active">
                <a class="nav-link" th:href="@{/?activePage=home}">Home</a>
            </li>
            <li th:unless="${activePage == 'home'}" class="nav-item">
                <a class="nav-link" th:href="@{/?activePage=home}">Home</a>
            </li>
            <!--Kunde-->
            <li th:if="${activePage == 'kunde'}" class="nav-item active">
                <a class="nav-link" th:href="@{/?activePage=kunde}">Kunde</a>
            </li>
            <li th:unless="${activePage == 'kunde'}" class="nav-item">
                <a class="nav-link" th:href="@{/?activePage=kunde}">Kunde</a>
            </li>
            <!--Schiffe-->
            <li th:if="${activePage == 'schiffe'}" class="nav-item active">
                <a class="nav-link" th:href="@{/?activePage=schiffe}">Schiffe</a>
            </li>
            <li th:unless="${activePage == 'schiffe'}" class="nav-item">
                <a class="nav-link" th:href="@{/?activePage=schiffe}">Schiffe</a>
            </li>
            <!--Routen-->
            <li th:if="${activePage == 'routen'}" class="nav-item active">
                <a class="nav-link" th:href="@{/?activePage=routen}">Routen</a>
            </li>
            <li th:unless="${activePage == 'routen'}" class="nav-item">
                <a class="nav-link" th:href="@{/?activePage=routen}">Routen</a>
            </li>
            
            <!--Wertgegenstaende-->
            <li th:if="${activePage == 'wertgegenstaende'}" class="nav-item active">
                <a class="nav-link" th:href="@{/?activePage=wertgegenstaende}">Wertgegenstaende</a>
            </li>
            <li th:unless="${activePage == 'wertgegenstaende'}" class="nav-item">
                <a class="nav-link" th:href="@{/?activePage=wertgegenstaende}">Wertgegenstaende</a>
            </li>
            <!--Dropdown villeicht für später
            <li class="nav-item dropdown">
                <select class="custom-select" id="inputGroupSelect01" th:name="kundeOptionen">
                    <option class="nav-link" th:href="@{/?activePage=schiffe}">Schiffe</option>
                    <option class="nav-link" th:href="@{/?activePage=kunde}">Routen</option>
                    <option class="nav-link" th:href="@{/?activePage=kunde}">Güter</option>
                </select>
            </li>
            -->
        </ul>
        </div>
    </nav>
</div>
